/*body{
  padding-right: 100px;
}

.footnotes{
  float:right;
  font-size:30px;  
  color:black;
  background-color:#fff;
  padding-top:60px;
  border:solid black;
  min-height: 100px;
  cursor: pointer;
}

.footnotes.minimized{
  color:white;
  background-color:#00f;
}*/

#footnotes_modal {
  overflow: auto;
}

#footnotes_modal .footnote {
  margin-bottom: 5px;
  text-align: center;
  padding-bottom: 5px;
  background-color:#f8f8fe;

  -moz-bottom-left-border-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-bottom-right-border-radius: 10px;
  border-bottom-right-radius: 10px;
}

#footnotes_modal .pusher {
  clear: both;
}

#footnotes_modal .footnote .title {
  -moz-top-left-border-radius: 10px;
  border-top-left-radius: 10px;
  -moz-top-right-border-radius: 10px;
  border-top-right-radius: 10px;

  padding: 5px;
  background-color: #204080;
  color: white;
}

#footnotes_modal .footnote .title .minimize {
  float: left;
}

#footnotes_modal .clickable {
  cursor: pointer;
}

#footnotes_modal .footnote .info {
  background-color:#e6e6ee;
  text-align:right;
  padding:0px;
  padding-right:5px;
  color:#889;
  font-size:14px;
  border-bottom:solid white 1px;
}

#footnotes_modal .footnote .type_indicator{
  margin-right:10px;
  font-size:20px;
}

#footnotes_modal .footnote .content .responses {
  float:right;
  color:#bbd;
  margin-right: 5px;
}